
<!-- <p>{{ProductItem|json}}</p> -->

<div *ngFor="let d of ProductItem">
     <mat-card class="example-card">
          <div>
               <img mat-card-image style="width: 100%;padding: 1%;" src={{d.image}}   alt="Photo of a Shiba Inu"> 
          </div>
          <mat-card-header>
               <mat-card-title>{{d.name}} </mat-card-title>
                <mat-card-subtitle> Quantity:{{d.countInStock}}</mat-card-subtitle> 
                <mat-card-subtitle> Price :{{d.price}}</mat-card-subtitle> 
                <mat-card-subtitle> Time :{{d.time}} min</mat-card-subtitle> 
                <p>
                    {{d.description}}
               </p>
          </mat-card-header>
     
          <!-- <mat-card-content>
        
          </mat-card-content> -->
          <mat-card-actions>
           
               
          
          </mat-card-actions>
     </mat-card>
     
     </div>
     