.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.nav-btns>button,.nav-islogin>button{
  color: #fff;
}

.mat-toolbar.mat-primary {
  background: #c33118;
  z-index: 1000;
}